choice
    prompt "paltform feature"
    config PLATFORM_310
        bool "PLATFORM_310"
    config PLATFORM_310P
        bool "PLATFORM_310P"
    config PLATFORM_910
        bool "PLATFORM_910"
    config PLATFORM_310B
        bool "PLATFORM_310B"
    config PLATFORM_310M
        bool "PLATFORM_310M"
    config PLATFORM_910B
        bool "PLATFORM_910B"
    config PLATFORM_910_95
        bool "PLATFORM_910_95"
    config PLATFORM_910_96
        bool "PLATFORM_910_96"
endchoice